-- header color-- {
	box-shadow: 15px 0 0 0 #000, -5px 0 0 0 #000;
	background: #11EECC;
	display: inline;
	padding: 3px 0 !important;
	position: relative;
}

Text can be **bold**, _italic_, ~~strikethrough~~, or `inline code`.

[Link to another slide](#colors).